.home,
.home__container{
  .border-bottom-light{
    left: 130px;
  }

  .homeFilter{
    border-top: 1px solid #eee7e8;
    border-bottom: 1px solid #eee7e8;
    padding: 20px 0;
    margin-bottom: 50px;
  }
}
