.home{
  background: #fafafa;

  .home__item-wrapper{
    padding: 40px;
    background: white;
  }

  .home__col-card-item{
    .card{
      height: 100%;

      .card-img-top{
        width: 100%;
        height: 225px;
        object-fit: cover;
      }
    }
  }
  // .home__col-card-item{
  //   margin-b
  // }
}