.carouselTextItem{
    width: 400px;
    word-break: break-word;

    @media only screen and (max-width: 800px) {
     display: none;
    }  
}

.carouselImg{
    object-fit: cover;
}

.carouselTextSlide{
    position: absolute;
    z-index: 10;
    top: 110px;
    left: 30px;
    color: #eee7e8;

    @media only screen and (max-width: 412px) {
        top: 0px;
    }  
}

.carouselTextSlide1{
    color: #eee7e8;
}

.carouselTextSlide2{
    color: #443535;
}

.carouselBannerButton{
    padding: 8px 45px;
    background: #eee7e8;
    color: #443535;
    display: inline-block;
    border-radius: 8px;
    line-height: 1.5;
}

.carouselTextCaption{
    @media only screen and (max-width: 412px) {
        font-size: 8px;
        line-height: 0.5px
    }  
}

.carouselTextTitle{
    @media only screen and (max-width: 412px) {
        font-size: 8px;
        line-height: 0.5px;
    }  
}

.carouselTextDesc{
    @media only screen and (max-width: 412px) {
        font-size: 8px;
        line-height: 0.5px
    }  
}
