.carouselTextItem{
    width: 400px;
    word-break: break-word;
}

.carouselImg{
    object-fit: cover;
}

.carouselTextSlide1{
    position: absolute;
    z-index: 10;
    top: 110px;
    left: 30px;
    color: #eee7e8;
}

.carouselBannerButton{
    padding: 8px 45px;
    background: #eee7e8;
    color: #443535;
    display: inline-block;
    border-radius: 8px;
    line-height: 1.5;
}