.inputSearch{
  .inputSearchIcon{
    color: #a9a5a7;
    top: 12px;
    left: 15px;
  }

  .inputSearchItem{
    height: 40px;
    width: 300px;
    padding: 5px 10px 5px 40px;
    border-radius: 8px;
    border: 1px solid #eee7e8;
    background: #eee7e8;
  }
}
