.radios{
    padding: 10px 0;
}

.radiosInput[type="radio"] {
	opacity: 0; /* hidden but still tabable */
	position: absolute;
}

.radiosInput[type="radio"] + span {
	border-radius: 8px;
    padding: 10px 20px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}

.radiosInput[type="radio"]:checked + span {
	color: #eee7e8;
    background-color: #daa0a7;
}

.radiosInput[type="radio"]:focus + span {
	color: #eee7e8;
}

.radiosLabel{
    padding-right: 20px;
    cursor: pointer;
    position: relative;
    color: #daa0a7;
}

.radiosContainer{
    position: relative;
    overflow-y: hidden;
    height: 50px;
    z-index: 11;
}

.radiosWrap{
    overflow-x: scroll;
    white-space: nowrap;
    padding-bottom: 15px;
}
