html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-style-base;
  font-size: 16px;
  color: #443535;
  line-height: 24px;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.h4,
.h5{
  font-weight: bold !important;
}

.open-sans{
  font-family: $font-style-base;
}

.playfair-display{
    font-family: $font-style-heading;
}

.container{
  max-width: 1280px;
}

.container-loading{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-root{
  line-height: 0;
}
.carousel-slider{
  border-radius: 8px;

  .control-dots{
    margin: 30px 0 !important;
  }
}

* {
  box-sizing: border-box;
}

.fw-bolder{
  font-weight: 900;
}

.fw-bold{
  font-weight: 700;
}

.fw-medium{
  font-weight: 500;
}

.fw-normal{
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.border-radius-lg{
  border-radius: 30px;
}

.border-radius-sm{
  border-radius: 10px;
}

.container {
  position: relative;
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 100%;

  @include mq(sm) {
      max-width: $col-sm;
  }

  @include mq(md) {
      max-width: $col-md;
  }

  @include mq(lg) {
      max-width: $col-lg;
  }

  @include mq(xl) {
      max-width: $col-xl;
  }
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.position-relative{
  position: relative;
}

.position-absolute{
  position: absolute;
}

.list-unstyled{
  list-style: none;
  padding: 0;
}
.border-bottom-light{
  border-bottom: 1px solid #eee7e8;
}
.rating{
  font-size: 12px;
  display: flex !important;
  padding: 10px 0;
}

.ratingOn{
  color: #cf7377 !important;
}

.section-title{
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;

  .border-bottom-light{
    width: 100%;
    left: 340px;
    top: 35px;
  }
}

.color-1{
  color: $color-1;
}

.color-3{
  color: $color-3;
}

.color-2{
  color: $color-2;
}

.color-4{
  color: $color-4;
}

.color-5{
  color: $color-5;
}

.color-6{
  color: $color-6;
}

.color-7{
  color: $color-7;
}

.color-8{
  color: $color-8;
}