//Font Syle
$font-style-base: "Open Sans", sans-serif;
$font-style-heading: 'Playfair Display', serif;

//Color
$color-1: #eee7e8;
$color-2: #d4b9c2;
$color-3: #a9a5a7;
$color-4: #cf7377;
$color-5: #daa0a7;
$color-6: #443535;
$color-7: #a34446;
$color-8: #b58882;

//screen
$smartphone-tablet: "only screen and (max-width: 768px)";
$smartphone-non-tablet: "only screen and (max-width: 766px)";
$smartphone-min: "only screen and (max-width: 375px)";
$smartphone-tablet-min: "only screen and (min-width: 768px)";


